@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #77b2ff;
  --warning: #ae2012;
}

body {
  color: rgb(var(--foreground-rgb));
}

.btn {
  @apply rounded-full bg-blue-400 hover:bg-blue-600 hover:text-white;
}
